/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff5e5;
  color: #000000;
  font-family: 'Bitter', serif;
  margin: 0;
}

/* Remove cursor styles */
body, a, button {
  cursor: auto;
}

/* Custom theme colors */
:root {
  --theme-bg: #eaddcc;
  --theme-text: #000000;
  --theme-primary: #e0c7b5;  /* Brown tone that works with the beige */
  --theme-secondary: #ddc9ba; /* Lighter brown for accents */
}
